* {
	font-family: 'Roboto', sans-serif;
}
html, body {
	font-size: 16px;
}

section#demo {
    position: relative;
    padding: 0;
    min-height: 100vh;
    transition: height 9999s;
    background-image: url('img/universe-4027609_1920.jpg');
    background-size:cover;

}
.vertical-align {
	position: absolute;
	top: 60%;
	transform: translateY(-50%);
	left: 0;
	width: 100%;
}
.card {
	background: rgb(5, 51, 85);
    box-shadow: 3px 3px 13px 5px rgba(5, 51, 85, 122);
    padding: 7px 12px;
}

.vertical-align .logo{
    
    position: fixed;
    top: -24%;
    left: 47%;
    width: 100px;
    height: 120px;
    
    
}